[user]
	email = manuel@deferran.com
	name = Manuel DE FERRAN

[alias]
        st = status
        stp = status --porcelain
        ci = commit
        br = branch
        co = checkout
        rz = reset --hard HEAD
        unstage = reset HEAD
        lpush = "!git lg @{u}..HEAD"
        lpull = "!git lg HEAD..@{u}"
        whatsnew = "!git diff @{u}...HEAD"
        whatscoming = "!git diff HEAD...@{u}"
        brbydate = "!git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(committerdate)/%(authorname)/%(refname:short)' | column -s '/' -t"
        lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'

[color]
        branch = auto
        diff = auto
        status = auto
        interactive = auto
	ui = auto

[core]
	excludesfile = /home/mdeferran/.gitignore_global
	pager = less -R -F -X -i
        #
        # Out of luck: on Windows w/o msysGit? You may have Notepad++…
        # editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
        # 
        # If you want to use Sublime Text 2's subl wrapper:
        # editor = subl -w
        # 
        whitespace = -trailing-space

        # Smth to try when facing "out of memory - suboptimal pack"
        # packedgitlimit = 256m
        # packedgitwindowsize = 32m

[http]
	sslVerify = false

[diff]
        mnemonicPrefix = true
        renames = true
        wordRegex = .
	tool = vimdiff

[fetch]
        recurseSubmodules = on-demand

[grep]
        extendedRegexp = true

[log]
        abbrevCommit = true

[merge]
        conflictStyle = diff3

[mergetool]
        keepBackup = false
        keepTemporaries = false
        prompt = false
[pull]
        # This is GREAT… when you know what you're doing and are careful
        # not to pull --no-rebase over a local line containing a true merge.
        # rebase = true
        # WARNING! This option, which does away with the one gotcha of
        # auto-rebasing on pulls, is only available from 1.8.5 onwards.
        rebase = true

[push]
        default = upstream

[rerere]
        # If, like me, you like rerere, decomment these
        # autoupdate = true
        # enabled = true

[status]
        submoduleSummary = true
        showUntrackedFiles = all

[color "branch"]
        upstream = cyan

[tag]
        sort = version:refname
[gitreview]
	remote = origin
	username = manuel.deferran
