[user]
    email = manuel.deferran@famoco.com
    name = Manuel DE FERRAN

[alias]
    # Short forms
    st = status
    stp = status --porcelain
    ci = commit
    br = branch
    co = checkout
    unstage = reset HEAD

    # Reset hard
    rz = reset --hard HEAD

    # Log and diff helpers
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
    ll = lg -n 10
    lga = lg --all
    lpush = "!git lg @{u}..HEAD"
    lpull = "!git lg HEAD..@{u}"
    whatsnew = "!git diff @{u}...HEAD"
    whatscoming = "!git diff HEAD...@{u}"

    # Branch management
    brbydate = "!git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)' | column -t"
    brcurrent = rev-parse --abbrev-ref HEAD
    brclean = "!git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -r git branch -d"

    # Commit navigation
    n = "!git log --reverse --pretty=%H master | grep -A 1 $(git rev-parse HEAD) | tail -n1 | xargs git checkout"
    p = "!git checkout HEAD^1"

    # Tools
    ignore = "!gi() { curl -L -s https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"

    # Maintenance
    cleanup = "!git reflog expire --expire=now --all && git gc --prune=now --aggressive"

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[color "branch"]
    upstream = cyan

[core]
    editor = nvim
    pager = less -R -F -X -i
    whitespace = -trailing-space
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[diff]
    mnemonicPrefix = true
    renames = true
    wordRegex = .
    tool = vimdiff
    algorithm = histogram

[fetch]
    recurseSubmodules = on-demand
    prune = true

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[rebase]
    autoStash = true
    autoSquash = true

[merge]
    conflictStyle = diff3
    tool = vimdiff

[mergetool]
    keepBackup = false
    keepTemporaries = false
    prompt = false

[grep]
    lineNumber = true
    extendedRegexp = true

[log]
    abbrevCommit = true
    date = relative

[status]
    submoduleSummary = true
    showUntrackedFiles = all

[tag]
    sort = version:refname

[credential]
    helper = cache --timeout 7200

[gc]
    autoDetach = false
    pruneExpire = now

# Gerrit integration (customize as needed)
[gitreview]
    remote = origin
    username = manuel.deferran

# URL rewrites for internal Gerrit servers
[url "ssh://admin@gerrit.localhost"]
    insteadOf = http://gerrit.localhost/a

[url "ssh://gerrit.internal.famoco.com"]
	insteadOf = https://gerrit.internal.famoco.com/a
